node_modules
temp
build
.idea/*
!.vscode/settings.json
typings
package-lock.json
.travis.yml
.appveyor.yml
logs/*
*.log
coverage
.nyc_output
run/*
dist/*
yarn.lock
w3.info.js
.tmp

*.http
*.request
.history
.npmrc



check-history.json